<div class="login-container">
    <div class="logo-container">
        <img src="img/logo.jpg" alt="">
        <h2>Bienvenido!</h2>  
    </div>

    <form action="">
        <h1>Iniciar Sesión</h1>
        <input type="text" placeholder="Nombre de Usuario">
        <input type="text" placeholder="Contraseña">
        <button class="login-button">Ingresar</button>
        <a href="">Olvide mi contraseña</a>
        <button class="register-button">Crear</button>
        <button>Hola</button>
    </form>
</div>
