<div class="auth-container">
    <div class="auth-logo-container">
        <img src="img/logo.jpg" alt="">
        <h1>Registrate!</h1>
    </div>

    <form class="form-auth" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <input type="text" placeholder="Correo" formControlName="email">
        <input type="text" placeholder="Contraseña" formControlName="password">

        <button type="submit" class="button-auth red-button" [disabled]="!registerForm.valid">Crear</button>
    </form>

    <a routerLink="/login">Tengo mi Cuenta</a>
</div>