<div class="auth-container">
    <div class="auth-logo-container">
        <img src="img/logo.jpg" alt="">
        <h1>Registrate!</h1>
    </div>
    <form action="" class="form-auth">
        <input type="text" placeholder="Nombre">
        <input type="text" placeholder="Apellido">
        <input type="text" placeholder="Teléfono">
        <input type="text" placeholder="Dirección">
        <input type="text" placeholder="Región">
        <input type="text" placeholder="Correo">
        <input type="text" placeholder="Contraseña">
        <input type="text" placeholder="Confirmar Contraseña">
        <button type="submit" class="button-auth red-button">Crear</button>
    </form>
    <a routerLink="/login">Tengo mi Cuenta</a>
</div>